---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { SignIn } from "@clerk/astro/components";
---

<DefaultLayout>
    <div class="mx-auto max-w-md">
        <SignIn />
    </div>
</DefaultLayout>
