---
import MainLayout from "@/layouts/MainLayout.astro";
import { SignIn } from "@clerk/astro/components";
---

<MainLayout>
    <div class="mx-auto max-w-md">
        <SignIn />
    </div>
</MainLayout>
